@import url('https://fonts.googleapis.com/css2? family= Chewy & display=swap');
ion-title{
  height: 50px;
  background-color: #f8f6f9 ;
  color: #6F2DBD;
  font-family: 'Chewy';
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}
.container {
  position:absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-60%);
  text-align: center ;
}

.container strong {
  height: 50px;
  
  color: #6F2DBD;
  font-family: 'Chewy';
  font-size: 40px;
  line-height: 50px;
  position: center;
}


.container a {
  font-size: 25px;
  line-height: 32px;
  color: #de9090;
  font-family: Arial;
}
.container a:hover{
  color: #c88d8d;
  text-shadow: 0 0 8px  #c88d8d;
}
.container strong:hover{
  color: #a488c3;
  text-shadow: 0 0 8px #af97ca;
}




ion-list{
  height: 100vh;
  font-size: 50px;
  background-image: url('../img/contato.png');
  background-position: center center;
  background-size: cover;
  padding-left: 30px;
  padding-right: 30px;
}
ion-item{
  margin-top: 35px;
  height: 48px;
  font-size: 18px;
  text-transform: initial;
  border-radius: 50px;
  box-shadow: 1px 8px 8p 0px rg(0, 0, 0, 0.5);
  --box-shadow:none;
  
}





